@import "~vuetify/src/styles/styles.sass";

// maxSterling specific variables
$maxSterling-font-size: 16;
$maxSterling-font-weight-normal: 500;
$maxSterling-font-weight-bold: 700;

$maxSterling-accent-color: #442c2e;
$maxSterling-primary-color: #fedbd0;

$maxSterling-chip-active-border-color: #8f8081;
$maxSterling-chip-border-radius: 8px;
$maxSterling-chip-border: 2px solid #fdd8d1;
$maxSterling-chip-font-weight: 500;
$maxSterling-chip-padding: 0 9px;
$maxSterling-tabs-slider-border-color: #eaa4a4;
$maxSterling-toolbar-background-color: #c28672;



// Preset variables
$body-font-family: "Rubik", sans-serif;
$btn-font-weight: 500;
$border-radius-root: 0;
$chip-line-height: 1.5;

$headings: (
  "h1": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{96 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  ),
  "h2": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{60 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  ),
  "h3": (
    "font-family": $heading-font-family,
    "letter-spacing": initial,
    "size": #{48 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  ),
  "h4": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{34 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  ),
  "h5": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{24 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-bold
  ),
  "h6": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{20 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-bold
  ),
  "subtitle-1": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{16 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-bold
  ),
  "subtitle-2": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{14 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-bold
  ),
  "body-1": (
    "font-family": $heading-font-family,
    "letter-spacing": initial,
    "size": #{16 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  ),
  "body-2": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{14 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  ),
  "caption": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{12 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  ),
  "overline": (
    "font-family": $body-font-family,
    "letter-spacing": initial,
    "size": #{14 / $maxSterling-font-size}rem,
    "weight": $maxSterling-font-weight-normal
  )
);
$icon-sizes: (
  "default": (
    "height": 36
  )
);
$material-light: (
  "status-bar": (
    "regular": #f0cac0
  ),
  "background": #fedbd0,
  "chips": transparent
);
// $tabs-item-focus-opacity: 0;
// $tabs-item-hover-opacity: 0;
